{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Charity Chick</h1>
          <span class="subheading">Help Us To Make The Present A Present</span>
        </div>
      </div>
    </div>
  </div>
</header>
<body>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- Search Bar -->
          <div class="row">
            {{ render_form(form, novalidate=True, button_map={"submit": "outline-info"}) }}
          </div>
          <!-- Post preview-->
          {% for post in posts %}
          <div class="post-preview">
            <a href="{{ url_for('show_post', post_id=post.id) }}">
              <h2 class="post-title" style="margin-top: 20px;">{{ post.title }}</h2>
            </a>
            <p class="post-meta">
              Posted by
              <a href="#">{{post.name}}</a>
              on {{post.date}}
              {% if post.author_id == current_user.id or current_user.id == 1 %}
              <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
              {% endif %}
          </div>
          <hr class="my-4" />
          {% endfor %}
          <div class="d-flex justify-content-end mb-4">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('add_new_post') }}" class="btn btn-outline-info" style="margin-top: 20px;">Add New Post</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>


</body>